- var json= content

doctype html
html(lang='en')
 head
   title Metadata about the feature collections
 body
   h1 Metadata about the feature collections
   h2 Collections

   each collection in json.collections

    h3 #{collection.title}
    h4 Links for the collection
       p items = 
         - var href = collection.links.filter(l => l.rel === 'items' && l.type === 'text/html')[0].href
         a(href= href ) #{collection.title}
