- var json= content

doctype html
html(lang='en')
 head
   title Metadata about the feature collection      
 body
   h1 Metadata about the feature collection

   h2 #{json.title}
   
   h3 Links for the collection
     p items = 
       - var href = json.links.filter(l => l.rel === 'items' && l.type === 'text/html')[0].href
       a(href= href ) #{json.title}
